<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaPlayerViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MediaPlayerViewModel.Properties.Settings>
            <setting name="backgroundImage" serializeAs="String">
                <value>${Solution}\Resources\backgroundImage.png</value>
            </setting>
        </MediaPlayerViewModel.Properties.Settings>
    </userSettings>
</configuration>